.student-details-test {
    min-height: 100vh;
}
.student-details .main{
    background-color: orange;
    margin-top: -5%;
    height: 70vh;
    width: 35%;
}
.student-details .first{
    margin-left: 20%;
    font-size: 30px; 
    font-weight:900;
    font-family: 'Fuzzy Bubbles', cursive;
}
.student-details .button{
  color: orangered;
  background-color: white;
}
 .button :hover{
    background-color: orangered;
    color: white;
}
.student-detail .info{
    background-color: orangered;
}