.student-details-test {
    min-height: 100vh;
}
.student-details .main{
    background-color: rgb(26, 117, 148);
    margin-top: -5%;
    height: 70vh;
    width: 35%;
}
.student-details .first{
    margin-left: 20%;
    font-size: 30px; 
    font-weight:900;
    font-family: 'Fuzzy Bubbles', cursive;
}
.student-details .button{
  color: black;
  background-color: white;
  margin-top: 9%;
}
.student-detail .info{
    margin-top: -21233%;
}
